Data/
Resources/.~lock.pheno.txt.csv#
Resources/commonSNPs.txt
Resources/DupIIDs
Resources/DupSNPs
Resources/ID_IBD.txt
Resources/LGI1.genome
Resources/Lyon_patlist.csv
Resources/mergeList.txt
Resources/PCA.eigenval
Resources/PCA.eigenvec
Resources/PCA.hh
Resources/PCA.log
Resources/PCA.nosex
Resources/pheno_matched.txt
Resources/pheno.txt
Resources/PMRA_HLA_DRB3.RData
Resources/PMRA_HLA_DRB4.RData
Resources/PMRA_HLA_DRB5.RData
Resources/PMRA-HLA4-hg19.RData
Resources/TripSNPs
Outputs/
*.vscode/
.Rhistory
.vs
