# Folders
Data/
!tests/data
Outputs/
reports/

# Visual studio
*.vscode/

.Rhistory
.vs

# Virtual environment
env/
.venv/

# Cache
__pycache__

# PLINK
plink2
.pgen
.psam
.pvar
.ped
.map
.bed
.bim
.fam
*.log

# Cache
*cache*

# Pytest
pytest.xml
*coverage*

# PLINK binaries (install locally)
bin/
